<div class="navigatorTop">
    
    <div></div><strong>Authentication</strong><div></div>    
    
 </div>  
<br>


<div class="slotContainer">
	<span>IAF url</span>	
	<div></div>
	<input type="text" class="form-control" ng-model="vm.iaf_url">
	
	
</div>

<div class="slotContainer">
	<span>Username</span>
	<div></div>	
	<input type="text" class="form-control" ng-model="vm.username">
	
	
</div>

<div class="slotContainer">
	<span>Password</span>
	<div></div>	
	<input type="Password" class="form-control" ng-model="vm.password" >
</div>
<div class="slotContainer">
	<div></div>
	<button class="btn btn-info" ng-click = "vm.setCredentials()">Submit</button>
</div>
