<!-- <link href="css/mystyle.css" rel="stylesheet" ng-disabled = "vm.selectedTheme === 'monokai' ">
<link href="css/mystyle_monokai.css" rel="stylesheet" ng-disabled = "vm.selectedTheme === 'twilight'"> -->
<div style="height: 100%; width:100%;">       
        	<div  id="mynavbar">
                <div class="navBarLeft">
                        <img src="./media/ibis2a.svg" class="iplogo" id="iplogo"  />
                    <div id = "navItem" class="navItem" >
                        <div></div>
                         

                       <span id="filename" class="filename" ng-click="vm.toggleSlot()" >
                        <span id="contents"><span id="spinnersmall" ng-show = "vm.showSpinnerSmall" style="color:grey ; margin-top:auto; font-size:10px;">
                            <i   class="fa fa-spinner fa-spin fa-fw "></i>
                        </span>{{vm.currentKey.title | cropFilter}}</span>

                       </span>  
                        <span  id = "rightspan" ng-click="vm.showNav()" >
                        <i  id="picture" class="fa fa-toggle-left fa-toggle-right"></i>
                        </span>

                         
<!--  -->
                    </div>
                    
                  

                </div>

                <div class = "navBarRight" >
                   
                    <span  id="submitform" ng-click="vm.submitForm()" class="mybutton">
                        <i class="fa fa-rotate-45 fa-arrow-circle-right fa-3x "></i>
                    </span>
                   
                    <div class="filler"></div>

                    <span ng-show = "vm.showSpinner" style="color:grey;">
                        <i   class="fa fa-spinner fa-spin fa-2x fa-fw "></i>
                    </span>

                    <div class="filler "></div>

                    <a style="text-decoration: none;" class="mybutton" ui-sref="app.moderator">
                    <span ng-click="angular.noop()" >
                        <i class="fa  fa-wrench fa-2x" ></i>
                    </span>
                    </a>


                    <span ng-click="vm.validateXml() ;" class="mybutton">
                        <i class="fa  fa-check  fa-2x "></i>
                    </span>

                    <span ng-click="vm.clearEditor()" class="mybutton">
                        <i class="fa  fa-eraser fa-2x "></i>
                    </span>

                    <span ng-click="vm.styleEditorContent()" class="mybutton">
                        <i class="fa fa-align-left fa-2x"></i>
                    </span>

                    <span ng-click="vm.sendZip()" class="mybutton">
                        <i class="fa fa-send fa-2x"></i>
                        <div id="sendstatus"></div>
                    </span>

                </div>
            </div>

<div class="mainContainer">
    <div id="navigatorcontainer">

        
         <div class="dataSourceArea" ng-include="'./views/dataSourceArea.html'"></div>
         <div class="classArea" style="direction:rtl;" ng-include="'./views/classArea.html'"></div>
         <div class="descriptionArea" ng-include="'./views/descriptionArea.html'"></div>
         <div class="propertyArea" ng-include="'./views/propertyArea.html'"></div>
    </div>
    
    <div id="configcontainer">
        <div  class="configArea" ng-include="'./views/configArea.html'"></div>
        <div  class="treeview" ng-include = "'./views/treeview.html'"></div>
        <div class="tabArea" >
                <div class="tabheaders">
                    <a id="tabauth" ng-click=" vm.toggleTab('tabauth')">
                    <span><i class="fa fa-drivers-license-o"></i></span>
                    </a>
                    <a id="tabedit" ng-click="vm.toggleTab('tabedit')">
                        <span ><i class="fa fa-edit"></i></span>
                    </a>
                </div> 
                    <div ng-show="vm.showauth;" ng-include="'./views/authentication.html'"></div>
                    <div ng-show="vm.showeditor;" ng-include="'./views/themearea.html'"></div>
            </div>
    </div>



    <!-- <div id="configcontainer">
        <div  class="configArea" ng-include="'./views/configArea.html'"></div>
        <div  class="treeview" ng-include = "'./views/treeview.html'"></div>
        <div class="themearea" ng-include="'./views/themearea.html'"></div> 
        <div class ="authentication" ng-include="'./views/authentication.html'"></div> 
    </div> -->

    <div id = "editorcontainer">
        <div class = "editorArea" ui-codemirror="{ onLoad : vm.codemirrorLoaded }"></div>
        <span class="lockicon" ng-click="vm.unlock()" ng-show = "vm.theslots[vm.currentSlotNumber-1].locked">
            <i class="fa fa-lock fa-4x"></i>
        </span>
    </div>
</div>

</div>