    <div >
        <label class="radio-inline" for="myRadio1">Pipes </label>
            <input type="radio"  name = "types" id="myRadio1" ng-checked = "vm3.selectedItem.type == 'pipes'" value="pipes" ng-disabled ="vm3.selectedItem.type !== 'pipes' && vm3.addingItem === false " ng-model = "vm3.selectedItem.type" >
        
        <label class="radio-inline" for="myRadio2">Receivers </label>
            <input type="radio" name = "types"  id="myRadio2" value="receivers" ng-checked = "vm3.selectedItem.type == 'receivers'"  ng-disabled ="vm3.selectedItem.type !== 'receivers' && vm3.addingItem === false " ng-model = "vm3.selectedItem.type">
        
        <label class="radio-inline" for="myRadio3">Snippets </label>
            <input type="radio" name = "types" id="myRadio3" value="snippets" ng-checked = "vm3.selectedItem.type == 'snippets'"  ng-disabled ="vm3.selectedItem.type !== 'snippets' && vm3.addingItem ===  false " ng-model = "vm3.selectedItem.type">
        
        <label class="radio-inline" for="myRadio4">General </label>
            <input type="radio" name = "types" id="myRadio4" value="general" ng-checked = "vm3.selectedItem.type == 'general'"  ng-disabled ="vm3.selectedItem.type !== 'general' && vm3.addingItem ===  false " ng-model = "vm3.selectedItem.type">

            
        
    </div>




    <div ng-show="vm3.selectedItem.type !== 'snippets' && vm3.selectedItem.type !== 'lesson' ">
        <div class="divider"></div>
        <div ng-include="'./views/addProperty.html'"></div>
        <div class="divider"></div>
        <div style="padding-bottom:10px;" ng-repeat = "property in vm3.selectedItem.properties">
                    <div>
                        <label  contenteditable ng-model = "vm3.selectedItem.properties[$index][0]" ng-click= "vm3.selectedProperty === $index? vm3.showPropertyDescription = !vm3.showPropertyDescription:vm3.selectedProperty = $index" ng-change = "vm3.changeAttrName($index)">
                            <span id = "property{{$index}}"   > {{property[0]}}
                            </span>
                        </label>
                        </div> 
                        <div style="display:flex;">
                        <input style="width:75%" id= "propertyvalue{{$index}}" type="text" ng-value = "vm3.selectedItem.properties[$index][2]" ng-model = "vm3.selectedItem.properties[$index][2]" ng-change="vm3.changeAttr($index)"/>
                        <div style="flex-grow:1"></div>
                        <span ng-click="vm3.deleteProperty($index)" >
                                <i class="fa fa-close  "></i>
                        </span>
                    </div>
        </div>
    </div>
    

    </div>
    <div style="height: 92%;" ng-show = "vm3.selectedItem.type === 'snippets' ">
        <div class="divider"></div>  
        <div class="navigatorTop">
            <span ng-click="vm3.otherSlot()"   class="rounded">
                            <i   class="fa fa-key  "></i>{{vm3.currentSlotNumber |cropFilter}}
            </span>
            <div></div>
            <strong>XML Contents</strong>
            <div></div>    
        </div>  
        <pre style="height: 92%; overflow-x: hidden;">{{vm3.selectedItem.xml}}</pre>
    </div>