<div class="modal-header">
    <h3 style="text-align: center;" class="modal-title" id="modal-title">Please Enter Some Details</h3>
</div>
<div class="modal-body" id="modal-body">
    
    <div class="navigatorTop">
    
    <div></div><strong>Server address and Authentication</strong><div></div>    
    
 </div>  
<br>


<div class="slotContainer">
	<span>IAF url</span>	
	<div></div>
	<input type="text" class="form-control" ng-model="vm4.iaf_url">
	
	
</div>

<div class="slotContainer">
	<span>Username</span>
	<div></div>	
	<input type="text" class="form-control" ng-model="vm4.username">
	
	
</div>

<div class="slotContainer">
	<span>Password</span>
	<div></div>	
	<input type="Password" class="form-control" ng-model="vm4.password" >
</div>

    

</div>
<div class="modal-footer">
    <div style="display:flex">
    <button class="btn btn-default" type="button" ng-click="vm4.closeModal()">Cancel</button>
    <div class="filler"></div>
	<button class="btn btn-success" type="button" ng-click="vm4.submitCredentials()">Submit Credentials</button>   
	
	</div>
</div>