
<div ng-show = "!vm3.showPropertyDescription" style="height:100%;"> 
	<h2  id="newclassname" contenteditable ng-model = "vm3.selectedItem.classname">{{vm3.selectedItem.classname}}</h2>

	<span  contenteditable spellcheck="false"   id = "newdescription" style="white-space: pre;"  ng-model = "vm3.selectedItem.description" class="moderatordescription">{{vm3.selectedItem.description }}</span>
</div>

<div ng-show = "vm3.showPropertyDescription && vm3.newProperty === null" style="height:100%;">
	
	<h2 id="propertyheader">{{vm3.selectedItem.properties[vm3.selectedProperty][0] }}</h2>

	<span  contenteditable spellcheck="false" ng-model = "vm3.selectedItem.properties[vm3.selectedProperty][1]" class="moderatordescription">{{vm3.selectedItem.properties[vm3.selectedProperty][1]}}</span  contenteditable spellcheck="false">

</div>

<div ng-show = "vm3.showPropertyDescription && vm3.newProperty !== null" style="height:100%;">
	
	<h2 id="newpropertyheader">{{vm3.newProperty.propname }}</h2>

	<span  contenteditable spellcheck="false" ng-model = "vm3.newProperty.propdes " class="moderatordescription">{{vm3.newProperty.propdes }}</span  contenteditable spellcheck="false">

</div>
