<!DOCTYPE html>
<html>
<head>
	<title>Moderator</title>
</head>
<body>

<div  id="mynavbar">
                <div class="navBarLeft" style="width:45%;">
                      <a ui-sref="app">  
                        <img src="./media/ibis2a.svg" class="iplogo" id="iplogo"  />
                      </a>
                    <label>Selected Item : <select id = 'myselect' ng-model="vm3.selectedItem" ng-options="value.classname for (key,value) in vm3.dataModel"  ></select></label>
                </div>

                <div class = "navBarRight" >
                    

                    <div class="filler"></div>

                    <span ng-show = "vm3.showSpinner" style="color:grey;">
                        <i   class="fa fa-spinner fa-spin fa-2x fa-fw "></i>
                    </span>

                    <div class="filler"></div>


                    <span ng-click="vm3.confirmDelete()" class="mybutton">
                        <i class="fa  fa-plus fa-rotate-45  fa-2x" style="color:red;"></i>
                    </span>

                    <span ng-click="vm3.postJsonBulk()" class="mybutton ">
                        <i class="fa   fa-2x" style="font-size: 14px;">BULK</i>
                    </span>

                    <span ng-click="vm3.showModel()" class="mybutton ">
                        <i class="fa fa-search-plus fa-2x" ></i>
                    </span>

                    <span ng-click="vm3.postDatamonster()" class="mybutton ">
                        <i class="fa fa-save fa-2x"></i>
                    </span>

                    <span ng-click="vm3.addNewClass()" class="mybutton ">
                        <i class="fa fa-plus  fa-2x"></i>
                    </span>

                </div>
            </div>

<div class="mainmodcontainer">
    <div class="leftmodcontainer" ng-include="'./views/leftmodcontainer.html'"></div>

    <div class = "rightmodcontainer" ng-include="'./views/moddescription.html'">
    </div>
</div>



</html>