
<div ng-repeat = "property in vm.selectedItem.properties">
	<div style="display:flex;">
		<div class="checkbox " >
			<label >
				<input id="checkbox{{$index}}" type="checkbox" property-listener ng-checked="vm.checkDefaults(property)" "/>
				<div class="mytooltip"  id = "property{{$index}}" ng-click = "vm.showPropertyDescription = true"  > {{property[0]}}
					<div class="mytooltiptext">{{property[1]}}</div>
				</div>
			</label>
			<div style="flex-grow: 1">		
		</div>
			<input id= "propertyvalue{{$index}}" type="text" ng-value = "vm.selectedItem.properties[$index][2]" ng-model = "vm.selectedProperties[property[0]].values[0]"/>
		</div>
	</div>
</div>
