
<div class = "treeview"  ng-controller = "ApsTreeController as vm2">
    <div ui-tree="vm2.treeOptions" id="tree-root">
      <ol ui-tree-nodes ng-model="vm2.list">
         <li ng-repeat="node in vm2.list" ui-tree-node ng-include="'./views/node_template.html'" ng-animate="{enter:'animate-enter',leave:'animate-leave'}"></li>
      </ol>
    </div>
<div class="filler"></div>
 <div class="treeview_buttonsbelow">
 	<a href="#" ng-click = "vm2.showZipDialog()"><span class="glyphicon glyphicon-refresh"></span></a>
 	<div class="pad"></div>
 	<a href="#" ng-click = "vm2.saveToFile()"><span class="glyphicon glyphicon-save"></span></a>
 	<div class="filler"></div>
 	<a href="#" ng-click = "vm2.addFileOrFolder('folder')"><span class="glyphicon glyphicon-folder-close"></span></a>
 	<div class="pad"></div>
 	<a href="#" ng-click = "vm2.addFileOrFolder('file')"><span class="glyphicon glyphicon-file"></span></a>
    </div>
</div>


