html, body
{
	width:100%;
	height:100%;
	font-family:$mainwindowfont;
}

.popover-content
{
	background:url($background3);
	color:white;
	padding:3px;
	border:0.5px solid white;
	border-radius:5px;
}

.arrow:after
{
	display:none;
}



.mymodal .modal-dialog
{
		  
  width:90%;
  height:500px;
  padding:0px;
  
}
.modal-backdrop{display:none;}
.modal-content{border:0px;}
.modal-body{overflow-x:scroll;}

.configTop, .navigatorTop
{
	display:flex;
	cursor:pointer;
	
	span
	{
		padding:4px;
		padding-top:4px;
		padding-bottom:4px;
		border:1px solid grey;
		border-top:0px;
		border-radius: 0px 0px 0px 3px;
	}

	.minusicon
	{
			padding-right:5px;
			border:0px;
			border-radius: 3px 0px 0px 3px;
			background:$guttercolor;
			color:$gutterlinenumber;
	}

	.indescriptionarea
		{
			border:1px solid grey;
			border-right: 0px;
		}

	.rounded
	{
		border-radius: 0px 3px 3px 0px;
		border-top : 1px solid grey;
		border-right : 1px solid grey;
		border-bottom : 1px solid grey;
		border-left : 0px;
	}
	.rounded2
	{
		border-radius: 3px 0px 0px 3px;
		border-top : 1px solid $guttercolor;
		border-left : 1px solid $guttercolor;
		border-bottom : 1px solid $guttercolor;
		border-right : 0px;
		background:$guttercolor;
		color:$gutterlinenumber;
	}	
	i
	{
		display:inline;
	}
	div
	{
		flex-grow: 1;
	}
	
}

.mainContainer
{
	width:100%;
  	height:92%;
  	position:relative;
  	strong
  	{
  		font-family:$navigatorheaders;
  	}
}

.filler
{
	flex-grow:1;
}

.modal-footer
{
	border-top: 0px;
}
.modal-body
{
	h4
	{
		text-align:center;
	}
	p
	{
		font-style : italic;
		color : grey;
	}
}

#zipfromfile, #mergefromfile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
    margin-right: 8px;
}

.glyphicon
{
    font-size:17px;
    color:#555555;
}